.footer:hover {
  color: white;
  text-shadow: 2px 2px 2px rgb(39, 61, 84);
  font-weight: 600;
}

button {
  background-color: transparent;
}

footer {
  font-family: "Poiret One", cursive;
  text-align: center;
  color: rgb(212, 238, 251);
  font-size: 12px;
  padding-top: 9px;
}
p {
  margin: 0;
}

.container,
.week-forecast,
.city-search,
.submit-button,
button {
  border-radius: 10px;
}
.icon,
.country {
  text-align: right;
  font-weight: 600;
  font-size: 50px;
  padding: 0;
}
.icon,
.country,
.today-text,
.day-forecast-text,
.extra-info,
.week-forecast,
.footer {
  font-family: "Open Sans", sans-serif;
  color: rgb(39, 61, 84);
}
.today-text,
.day-forecast-text {
  padding: 0px 30px;
}
.temperature,
.forecast {
  font-weight: 600;
  font-style: italic;
}
.city-search,
.submit-button,
button {
  border: 1px solid rgb(42, 98, 150);
}
/* .submit-button, */
.city-search,
.submit-button,
button {
  font-family: "Kaushan Script", cursive;
  padding: 5px 10px 5px 5px;
}

.container {
  margin: 50px auto;
  padding: 60px 90px 40px 90px;
  max-width: 1000px;
  border: 3px solid rgb(42, 98, 150);
  background-image: url("../images/hills.jpg");
  background-size: cover;
}
.country {
  font-weight: 100;
}
.cloudy {
  margin: 35px;
  font-size: 110px;
  text-align: center;
}
.day-forecast {
  padding: 23px;
  padding-bottom: 42px;
}
.extra-info {
  opacity: 70%;
  font-size: 14px;
  line-height: 18px;
}
.forecast {
  line-height: 46px;
  font-size: 29px;
  text-transform: capitalize;
}
.footer {
  color: rgb(212, 238, 251);
}
.heart {
  font-size: 20px;
}
.main-weather-icon {
  width: 160px;
}
.submit-button {
  background-color: white;
}
.submit-button:hover,
button:hover {
  border: 1px solid orange;
  color: orange;
}
.today-text {
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
}
.temperature {
  font-size: 88px;
  line-height: 77px;
}
.temperature-type {
  font-size: 23px;
  position: relative;
  top: -45px;
  left: 5px;
}
.fahrenheit,
.celcius {
  color: rgb(61, 176, 218);
  text-decoration: none;
}
.fahrenheit:hover,
.celcius:hover {
  color: white;
  text-shadow: 1px 1px 1px rgb(39, 61, 84, 0.5);
}
.temperature-type .active {
  text-decoration: none;
  color: rgb(39, 61, 84);
  cursor: default;
}
.top {
  text-align: center;
}
.week-forecast {
  font-size: 17px;
  font-weight: 900;
  padding: 20px 0px;
  text-align: center;
  background-color: rgba(39, 61, 84, 0.2);
  border: 3px solid rgba(255, 255, 255);
}
.temp-range {
  color: white;
  font-weight: 100;
}
strong {
  font-weight: 900;
}
.weather-icons {
  padding: 15px;
  font-size: 35px;
  color: white;
}

@media (min-width: 830px) {
  .city-search {
    width: 500px;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 60px 50px 40px 50px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 60px 20px 40px 20px;
  }
  .temperature {
    font-size: 60px;
  }
  .temperature-type {
    position: relative;
    top: -24px;
  }
  .country {
    font-size: 48px;
  }
  .forecast {
    line-height: 31px;
  }
  .extra-info {
    margin-top: 10px;
  }
}
@media (max-width: 300px) {
  .forecast {
    margin-top: -28px;
  }
  .country {
    font-size: 43px;
  }
  .today-text {
    font-size: 15px;
    line-height: 20px;
  }
  .temperature {
    font-size: 55px;
  }
  .temperature-type {
    font-size: 20px;
    position: relative;
    top: -63px;
    left: 63px;
  }
  /* .container {
    padding: 60px 0px 40px 0px;
  } */
}
